<div class="cookie-bar" id="cookie-bar">
  <div class="container">
    <div class="cookie-bar__content">
      <div class="cookie-bar__text">
        <p id="cookie-message">
          We use cookies to improve your experience on our website.
        </p>
      </div>
      <div class="cookie-bar__actions">
        <button class="btn btn--secondary cookie-bar__btn" id="cookie-accept">
          Accept
        </button>
        <button class="btn btn--outline cookie-bar__btn" id="cookie-decline">
          Decline
        </button>
      </div>
    </div>
  </div>
</div>
