.game-overview__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.game-overview__side {
  width: 60px;
  height: 180px;
  background-color: var(--item-color);
  border-radius: 12px;
  flex-shrink: 0;
}
.game-overview__side-left,
.game-overview__side-right {
  background-image: url(../../img/about-1.png);
  background-size: contain;
  background-position: center;
}
.game-overview__side-right {
  background-image: url(../../img/about-2.png);
}
.game-overview__content {
  flex: 1;
  text-align: left;
}
